<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EK_MultipleTransporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- OTCS Credentials -->
    <add key="otUserName" value="admin" />
    <add key="otPassword" value="Dty4208ab1!" />
    <add key="otToken" value="token"/>

    <!-- Development Settings -->
    
    <!-- Document Templates ve Emlak Konut İş Alanları Nodeları  --><!--
    <add key="independentSectionNodeId" value="58725" />
    --><!-- Emlak Konut İş ALanları Bağımsız Bölüm Nodu--><!--
    <add key="independentSectionChildElementsNodeId" value="68958" />
    --><!-- Document Templates Bağımsız Bölüm Nodu --><!--
    <add key="litigationNodeId" value="378152" />
    <add key="litigationChildElementsNodeId" value="403679" />
    <add key="staffNodeId" value="3250052" />
    <add key="staffChildElementsNodeId" value="3249914" />
    <add key="plotsNodeId" value="58945" />
    <add key="plotsChildElementsNodeId" value="58836" />
    <add key="projectsNodeId" value="59055" />
    <add key="projectsChildElementsNodeId" value="69287" />
    --><!-- Content Server Document Templates Node --><!--
    <add key="contentServerDocumentTemplatesNodeId" value="10545" />
    <add key="generalCategoryNodeId" value="155197" />
    --><!--"Genel Kategori" nodu--><!--
    <add key="workSpacesNodeId" value="58726 " />
    --><!--WorkSpace içerisindeki "Emlak Konut İş Alanları" Nodu--><!--
    <add key="BackUpFolderRoot" value="Yüklenemeyen Dokümanlar" />
    --><!-- Dokuman yüklenemezse masaüstünde içine atılacağı backup klasörü. -->
    
  <!-- Prod Settings -->
    <!-- Document Templates ve Emlak Konut İş Alanları Nodeları  -->
    <add key="independentSectionNodeId" value=" 117722"/>
     <!--Emlak Konut İş ALanları Bağımsız Bölüm Nodu-->
    <add key="independentSectionChildElementsNodeId" value="130898" />
     <!--Document Templates Bağımsız Bölüm Nodu--> 
    <add key="litigationNodeId" value="118337" />
    <add key="litigationChildElementsNodeId" value="130723" />
    <add key="staffNodeId" value="117914" />
    <add key="staffChildElementsNodeId" value="130732" />
    <add key="plotsNodeId" value="128334" />
    <add key="plotsChildElementsNodeId" value="128965" />
    <add key="projectsNodeId" value="117913" />
    <add key="projectsChildElementsNodeId" value="130491" />
     <!--Content Server Document Templates Node--> 
    <add key="contentServerDocumentTemplatesNodeId" value="16696" />
    <add key="generalCategoryNodeId" value="118284" /> 
    <!--"Genel Kategori" nodu-->
    <add key="workSpacesNodeId" value=" 117577"/>
    <!--WorkSpace içerisindeki "Emlak Konut İş Alanları" Nodu-->
    <add key="BackUpFolderRoot" value="Yüklenemeyen Dokümanlar" />
  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <applicationSettings>
    <EK_MultipleTransporter.Properties.Settings>
      <setting name="EK_MultipleTransporter_DmsAuthenticationService_AuthOps"
        serializeAs="String">
        <value>http://192.168.50.97/DmsWebServices/AuthOps.asmx</value>
      </setting>
      <setting name="EK_MultipleTransporter_DmsDocumentManagementService_DmsOps"
        serializeAs="String">
        <value>http://192.168.50.97/DmsWebServices/DmsOps.asmx</value>
      </setting>
    </EK_MultipleTransporter.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="OTCSCnnStr" connectionString="Data Source=192.168.50.120; Initial Catalog=OTCS; Persist Security Info=True;User ID=sa; Password=TstAdminOT*; MultipleActiveResultSets=true; Connection Timeout=300" /> --><!--Dev. Cnn Str-->
    <add name="OTCSCnnStr" connectionString="Data Source=192.168.50.103; Initial Catalog=OTCS; Persist Security Info=True;User ID=sa; Password=PrdAdminOT*; MultipleActiveResultSets=true; Connection Timeout=300" /> <!-- Prd Cnn Str -->
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  
  <!-- İzinli ipleri tanımlayacağınız örnek alan. Şu an için tüm local kullanıcılara açılmış durumda. EK Intranet'i içerisindeki firewall'ı aşabilmesi için vpn izni vererek kullanabilirsiniz. -->
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <deny users="*" />
    </authorization>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>