<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogFile="nlog log.log">
    <nlog internalLogLevel="Trace|Debug|Info|Warn|Error|Fatal" />
    <targets async="true">
      <target name="logfile" xsi:type="File"  fileName="${specialfolder:folder=DesktopDirectory}/EkMultipleTransporterLogger/logger.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${pad:padding=5:inner=${level:uppercase=true}} ${counter} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=6:innerFormat=shortType,message,method}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logFile" />
    </rules>
  </nlog>

</configuration>